<div class="calculator-picker">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>{{ 'choose_calculator' | translate }}</mat-label>
    <mat-select [(value)]="selectedCalculator">
      @for (calculator of calculators; track calculator) {
        <mat-option [value]="calculator">{{ calculator | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="tab-container">
  @switch (selectedCalculator) {
    @case ('vat_flip') {
      <vat-flip-calculator></vat-flip-calculator>
    }
    @case ('vat_flip_deed') {
      <vat-flip-deed-calculator></vat-flip-deed-calculator>
    }
    @case ('flip') {
      <flip-calculator></flip-calculator>
    }
    @case ('rent') {
      <rent-calculator></rent-calculator>
    }
    @case ('loan') {
      <loan-calculator></loan-calculator>
    }
    @case ('constants') {
      <calculator-sidebar></calculator-sidebar>
    }
  }
</div>
