<div class="constants-card">
  <h6 class="constants-title">{{ 'constants' | translate }}</h6>
  <div class="constants-list">
    @for (key of objectKeys(consts); track key) {
      <div class="constant-field">
        <label class="constant-label">{{ consts[key].label | translate }}</label>
        <input
          type="number"
          class="constant-input"
          [(ngModel)]="consts[key].value"
          [disabled]="consts[key].disabled"
        >
      </div>
    }
  </div>
  <button mat-raised-button color="primary" class="save-btn" (click)="saveConstants()">
    {{ 'save' | translate }}
  </button>
</div>
